import(dplyr)
import(fixest)
import(estimatr)
import(stringr)

importFrom("stats", "as.formula", "cov", "lm", "predict", "residuals",
           "sd", "coef", "weighted.mean")
importFrom("rlang", ":=")

export(twowayfeweights)
